<!-- <header>

    <div class="navbar">
        <a routerLink="home" routerLinkActive="active">Home &ensp;</a>
        <a routerLink="AboutUs" routerLinkActive="active">About us&ensp;</a>
        <a routerLink="Login" routerLinkActive="active">Login&ensp;</a>
        <a routerLink="Help" routerLinkActive="active">Help&ensp;</a>
    <div>
</header>
<h1>Food supply chain and Increasing Farming Efficiency</h1>
<a routerLink="farmer Login" routerLinkActive="active">farmers Login;</a><br>
<a routerLink="customer Login" routerLinkActive="active">Customer Login;</a><br>
<a routerLink="order Login" routerLinkActive="active">Order Login;</a><br>
<router-outlet></router-outlet> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
<div class="navbar-header">
    <a class="navbar-brand" href="#">Food supply chain and Increasing Farming Efficiency</a>
</div>
<ul class="nav navbar-nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="aboutus" routerLinkActive="active">about us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="farmerslogin" routerLinkActive="active">user login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="adminlogin" routerLinkActive="active">Admin login</a>
    </li>
    
    
    <!-- <li class="nav-item">
        <a class="dropdown-item" routerLink="farmerslogin" routerLinkActive="active">User Login</a>
    </li>


    <li><a class="dropdown-item" routerLink="adminlogin" routerLinkActive="active">Admin login</a></li>
</select> -->
    <li class="nav-item">
        <a class="nav-link" routerLink="help" routerLinkActive="active">help</a>
    </li>
</ul>
</div>
</nav>