<!-- <header>

    <nav class="sow">
        <a routerLink="home" routerLinkActive="active">Home &ensp;</a>
        <a routerLink="AboutUs" routerLinkActive="active">About us&ensp;</a>
        <a routerLink="farmer Login" routerLinkActive="active">farmers Login;</a>
<a routerLink="customer Login" routerLinkActive="active">Customer Login;</a>
<a routerLink="order Login" routerLinkActive="active">Order Login;</a>
<a routerLink="Help" routerLinkActive="active">Help&ensp;</a>

    </nav>
</header>
<h1>Food supply chain and Increasing Farming Efficiency</h1>

<div class="entry">
    <h3>Logins</h3>


</div>
<app-home></app-home> --> 
<!-- <div id="appContainer">
    <div class="row align-items-center h-100">
      <div class="col-md-5 col-sm-10 mx-auto">
  
        <div id="cardStyle" class="card justify-content-center">
          <div>
            <button class="btn" [class.btn-light]="flag" type="button" style="width: 50%;" (click)="apply('login')" >Login</button>
            <button class="btn" [class.btn-light]="!flag" type="button" style="width: 50%;" (click)="apply('register')" >Register</button>
          </div>
  
          <div class="card-body">
            <div *ngIf="flag">
              <app-login></app-login>
  
            </div>
            <div *ngIf="!flag">
              <app-signup></app-signup>
  
            </div>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  </div> -->










<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->




<app-page></app-page>
<router-outlet></router-outlet>   
<!-- <app-farmerentry></app-farmerentry>
<app-payment></app-payment> -->
<!--<app-order></app-order>   -->
<!-- <app-orger2></app-orger2> -->
<!-- <app-order3></app-order3> -->
<!-- <app-producttable></app-producttable> -->