<div class="content">
    <h1>Login form</h1>
    <div class="container">
    <form [formGroup]="loginForm" (ngsubmit)="click(loginForm.value)">

      <div class="form-outline mb-4,text-center">
        <label for="email" class="form-label">Email:</label>
        <input type="email" placeholder="Email Address" formControlName="email">
        <span class="invalid"
          *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors"><br>Invalid Email Address</span>
      </div>

      <div class="form-outline mb-4,text-center">
        <label for="password" class="form-label">Password:</label>
        <input type="password" placeholder="Password" formControlName="password">
        <span class="invalid"
          *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors"><br>Invalid
          Password</span>
      </div>

      <div class="text-center">
        <button id="submitButton" type="submit" class="btn btn-primary">Login</button>
      </div>
      <!-- <div class="text-center text-success" *ngIf="successMessage">{{successMessage}}</div> -->

    </form>
    <div class="Signup">
      <span for="signup" class="text-danger">Don't Have a Account?
        <a routerLink="/signup" class="text-danger">Signup</a></span>
    </div>
  </div>
</div>