<!-- <h1>Food supply chain and Increasing Farming Efficiency</h1>
<header>
    <nav class="sow">
        <a routerLink="home" routerLinkActive="active">Home &ensp;</a>
        <a routerLink="About us" routerLinkActive="active">About us&ensp;</a>
        <a routerLink="Help" routerLinkActive="active">Help&ensp;</a>
    </nav>
</header>
<div class="entry">
    <h3>Logins</h3>

<a routerLink="farmer Login" routerLinkActive="active">farmers Login;</a><br>
<a routerLink="customer Login" routerLinkActive="active">Customer Login;</a><br>
<a routerLink="order Login" routerLinkActive="active">Order Login;</a><br>
</div> -->
<div class="image">
    <img src="../../assets/header.jpg" width="1000" height="400">
</div>
<div class="content">
<h2>Transform and grow to sustainably feed the world</h2>
<p>When it comes to your ecommerce supply chain, complacency is the enemy of growth.<br>

    No matter how efficient your supply chain is running, finding ways to improve your supply chain is something you should always be doing. <br>
    
    But knowing how to improve and optimize your supply chain can be a challenge — not only for small brands but also for established ecommerce businesses.  </p>
</div>
   
    <!-- <router-outlet></router-outlet> -->